*{
	background-color: black;
	color: white;
}
.mainbody{
	margin-top: 35px;
	text-align: center;
}

.menu{
	text-align: right;
}

p.link{
	margin-top: 5px;
	margin-bottom: 15px;
}

a{
	color: white;
}